.App {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    text-align: center; 
    /* display:grid ; */
  }

  h2 {
    font-size: calc(15px + 2vmin);
    text-align: center;
    /* color: #5670ff ; */
    color: #ffffff;
    font-weight: lighter;
  
  }
 
  h4 {
    text-align: center;

    font-size: calc(5px + 2vmin);
    font-weight:bolder;
    background-color: #f0d4d9;
    /* margin-left:20%; */
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:30px;
    /* margin-right: 70% */
    /* margin-right: 50%; */

  }

  h3 {
    text-align: center;
    font-size: calc(20px + 2vmin);
    color: #5670ff ;
    margin-top:200px;
    margin-bottom: 80px;
    font-weight:bolder;
  }

  .speaker__item__pic-wrap{
    position: absolute;
    width: 100%;
    padding-top: 50%;
    
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  /* img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
  } */

  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .speakers2 {
    padding: 2rem;
   margin-left: 3%;
    margin-right: 3%; 


  
  }
  

  .infoheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  
  }
  .regbutton-a {
    text-decoration: none;
  }
  .regbutton {
    font-family: 'Fira Sans', sans-serif !important;
    background-color: #5670ff !important;
    color: #f0d4d9 !important;
    max-width: 800px !important;
    max-height: 400px !important;
    padding: 10px 20px !important;
    font-size:calc(5px + 2vmin) !important;
  }

  .graphic1 {
    z-index:-300;
    position: absolute;
    background-color: #f0d4d9; 
    transform: translate(0px, -230px) rotate(16deg);
    width: 1900px;
    height: 590px;
  }
  
  .graphic2 {
    z-index:-300;
    position: absolute;
    background-color: #5670ff;
    transform: translate(-330px, -280px) rotate(340deg);
    width: 1900px;
    height: 590px;
  }
  
  .info1 {
    font-size: calc(15px + 2vmin);
    text-align: center;
    /* color: #5670ff ; */
    color: #ffffff;
   
  
  }
  
  .info {
    display:flex;
    flex-direction: column;
    text-align: justify;
    max-width: 50%;
    font-size:calc(1px + 2vmin) ;
  
  }
  
  .speaker-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circle_border {
    display: flex; 
    align-items: center;
    /* display: inline; 
    position: relative;  */
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(to right, #5670ff,  #f0d4d9);
   
  
  }
  
  img {
    max-width: 100%;
    border-radius: 100%;
    position: relative;
    margin-left:30px;
   
  }

.rightinfo {
  display: flex;
  flex-direction: column;
  margin-left: 10%;


}
  .figure1 {
    display: flex;
    padding-bottom: 7%;
    align-items:center;
    text-align: justify;
    justify-content: space-around;
    margin-inline: 100px;


  
  }
  
  .figure2 {
    display: flex;
    padding-bottom: 7%;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    margin-inline: 100px;
  
  }
  
  .figure3 {
    display: flex;
    padding-bottom: 7%;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    margin-inline: 100px;
  
  }
  
  
  .speakers{
    padding: 2rem;
  }
  
  h1 {
    font-size: calc(25px + 2vmin);
    text-align: center;
    /* color: #5670ff; */
    color: #ffffff;
  }
  
  
  .speaker__container {
    display: flex;
    /* flex-direction: row; */
    align-items: start;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  
   .speaker__wrapper {
     display: flex; 
     flex-flow: column;
    margin: 50px 0 45px;
  } 
  
  .speaker__items {
    margin-bottom: 24px;
  }
  
  .speaker_item {
    display: flex;  
    flex: 1;
    margin: 0 1rem; 
    border-radius: 10px;
   
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .speaker__item__pic-wrap::after {
    content: attr(data-category);
    position: relative;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: content-box;
  }
  
  .speaker__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block; 
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear; 
    border-radius: 100%;
  }
  
  .speaker__item__img:hover {
    transform: scale(1.1);
  }
  
  .speaker__item__info {
    position: relative;
    padding: 20px 30px 30px;
  }
  
  .speaker__item__text {
    color: #591cae;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .speaker__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .speaker__item {
      margin-bottom: 2rem;
    }
  }
  